# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Android Studio
.idea/

# Editor backup files
*~

# Dart artifacts
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies